.shengfen li{
    color: blue;
    font-size: 20px;
    list-style: none;
}
.no_map{
    font-size: 30px;
    color: burlywood;
}
.chengshi_01{
    list-style-type: decimal-leading-zero;
    color:green
}
.chengshi_01 li{
    margin-left: 20px;
}
.chengshi_a{
    list-style-type: lower-alpha;
    color: blueviolet;
}